<div class="row">
  <div class="col-md-6">
    <h3>Quiz Application</h3>
  </div>
  <div class="col-md-6 text-sm-right">
    Select Quiz:
    <select [(ngModel)]="quizName" (change)="loadQuiz(quizName)">
      <option *ngFor="let quiz of quizes" [value]="quiz.id">{{quiz.name}}</option>
    </select>
  </div>
</div>
<div id="quiz">
  <h1 class="text-sm-center">{{quiz.name}}</h1>
  <hr />

  <div *ngIf="mode=='quiz' && quiz">
    <!-- <div *ngFor="let question of filteredQuestions;let idx = index" class='card card-body'>
      <div class="badge badge-info">Question {{pager.index + idx + 1}} of {{pager.count}}.</div>
      <h5>
        <span [innerHTML]="question.name"></span>
      </h5>
      <div class="row options">
        <div class="col-md-12" *ngFor="let option of question.options">
          <div class=''>
            <label class="text-deafult" [attr.for]="option.id">
              <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option);" />
              <span [innerHTML]="option.name"></span>
            </label>
          </div>
        </div>
      </div>
      <span class='text-info' [innerHTML]="question.hint"></span>
    </div> -->
    <div class="card" *ngFor="let question of filteredQuestions;let idx = index">
      <div class="card-header bg-transparent">
          <div class="badge badge-info">Question {{pager.index + idx + 1}} of {{pager.count}}.</div>
          <h5>
          <span [innerHTML]="question.name"></span>
        </h5>
      </div>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item' *ngFor="let option of question.options">
          <input id="{{question.id+''+option.id}}" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option);" />
          <label [attr.for]="question.id+''+option.id">
            <span [innerHTML]="option.name"></span>
          </label>
        </li>
      </ul>
      <div class="footer" *ngIf='question.hint'><p [innerHTML]='question.hint'></p> </div>
    </div>

    <hr />
    <div class="text-sm-center">
      <button class="btn btn-default btn-sm" [disabled]='pager.index == 0' *ngIf="config.allowBack" (click)="goTo(0);">First</button>
      <button class="btn btn-default btn-sm" [disabled]='pager.index - pager.size < 0' *ngIf="config.allowBack" (click)="goTo(pager.index - pager.size);">Prev</button>
      <button class="btn btn-primary btn-sm" [disabled]='pager.index + pager.size >= pager.count' (click)="goTo(pager.index + pager.size);">Next</button>
      <button class="btn btn-default btn-sm" [disabled]='pager.index + pager.size >= pager.count' *ngIf="config.allowBack" (click)="goTo(pager.count - pager.size);">Last</button>
      <!-- <pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination> -->
    </div>
  </div>

  <div class="row review" *ngIf="mode=='review'">
    <div class="col-sm-4" *ngFor="let question of quiz.questions; let index = index;">
      <div (click)="goTo(index)" class="{{ isAnswered(question) == 'Answered'? 'answered': 'not-answered' }}">{{index + 1}}. {{ isAnswered(question) }}</div>
    </div>
  </div>
  <div class="result" *ngIf="mode=='result'">
    <h2>Quiz Result</h2>
    <div *ngFor="let question of quiz.questions; let index = index">
      <div class="result-question">
        <h5>{{index + 1}}.
          <span [innerHTML]='question.name'></span>
        </h5>
        <div class="row">
          <div class="col-md-6" *ngFor="let Option of question.options">
            <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" />
            <span [ngClass]="{'text-success': (Option.isAnswer && Option.selected === Option.isAnswer), 'text-danger': (Option.isAnswer && (Option === undefined || !Option.selected)) }" [innerHTML]='Option.name'></span>
          </div>
        </div>
        <div>
          <span [innerHTML]="question.explanation"></span>
        </div>
        <!-- <div class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{question.}}.</div> -->
        <!-- <ul>
          <li class='text-info' *ngFor="let option of question.options | filter:{isAnswer: true}">{{ option.name }}</li>
        </ul> -->
      </div>
    </div>
    <h4 class="alert alert-info text-sm-center">Your Score is {{quizCount}}, You may close this window now or
      <button class='btn btn-sm btn-secondary' (click)="loadQuiz(quizName)">Retake</button>
    </h4>
  </div>
  <hr />
  <div *ngIf="mode!='result'">
    <button class="btn btn-primary" (click)="mode = 'quiz'">Quiz</button>
    <button class="btn btn-warning" (click)="mode = 'review'">Review</button>
    <button class="btn btn-success" (click)="onSubmit();">Submit Quiz</button>
  </div>
</div>